<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
<div class="container">
    <table class="table table-striped" *ngIf="product && product.length > 0  else elseBlock">
        <thead>
        <tr>
            <th>PRODUCT ID</th>
            <th>PRODUCT NAME</th>
            <th>PRODUCT BRAND</th>
            <th>PRODUCT PRICE</th>
            <th>RETAILER ID</th>
            <th>DELETE PRODUCT</th>
            <th>UPDATE PRODUCT</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of product">
                <td> {{p.productId}} </td>
                <td> {{p.productName}} </td>
                <td> {{p.productBrand}} </td>
                <td>{{p.productPrice}}</td>
                <td>{{p.retailerId}}</td>
                <td>
                    <button type="button" class="btn btn-large btn-block btn-primary" (click)=delete(p)>DELETE</button>
                </td>
                <td>
                    <button type="button" class="btn btn-large btn-block btn-primary" (click)=update(p)>UPDATE</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #elseBlock>
        <h4 align="center"> There are no products to display,please add the products! </h4>
    </ng-template>

</div>
<div>
    <h2>{{message}}</h2>
</div>